* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 0;
  background-color: #f0f0f0;
  animation: slider 20s linear infinite;
  background-size: cover;
  background-attachment: fixed;
}


@keyframes slider {
  0% { background-image: url('img/ra1.png'); }
  25% { background-image: url('img/ra2.png'); }
  50% { background-image: url('img/ra1.png'); }
  75% { background-image: url('img/ra2.png'); }
  100% { background-image: url('img/ra1.png'); }
}

.board {
  display: flex;
  gap: 25px;
  max-width: 1200px;
  width: 80%;
  padding: 10px;
  background-color: #ffdb10c5;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.column h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.card{
transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.2); 
}



  



  